.contactContainer {
    display: flex;
}
.contactBlock {
    flex: 1;
    height: 35vh;
    padding: 20px;
    padding-top: 10vh;
}
.contactPhone {
    color: rgb(19, 55, 89);
    text-decoration: none;
    font-size: 1.5em;
}
@media only screen and (max-width: 900px) and (min-width: 300px) {
    #allIndex {
        margin-bottom: 0;
        padding-bottom: 5vh;
    }
    footer {
        top: 20px;
    }
    .contactContainer {
        display: flex;
        flex-direction: column;
    }
    .contactBlockX {
        height: 35vh;
        width: 100vw;
        padding: 20px;
        padding-top: 10vh;
    }
}