.contactContainer {
    display: flex;
}
.contactBlock {
    flex: 1;
    height: 35vh;
    padding: 20px;
    padding-top: 10vh;
}
.contactPhone {
    color: rgb(19, 55, 89);
    text-decoration: none;
    font-size: 1.5em;
}
.contactBlockX {
    height: 35vh;
    width: 50vw;
    padding: 20px;
    padding-top: 10vh;
}
@media only screen and (max-width: 900px) and (min-width: 300px) {
    #allIndex {
        margin-bottom: 0;
        padding-bottom: 5vh;
    }
    .mobileMenu {
        position: fixed;
        left: 45vw;
        font-size: 1.3em;
        top: 3vh;
        padding: 5px;
        color: rgb(255, 255, 255);
        background-color: rgb(30, 136, 229);
        border-radius: 5px;
        z-index: 9999999999999999999999999;
    }
    footer {
        top: 20px;
    }
    .contactContainer {
        display: flex;
        flex-direction: column;
    }
    .contactBlockX {
        height: 35vh;
        width: 100vw;
        padding: 20px;
        padding-top: 10vh;
    }
}